// Colors
$main-color: #4169E1;
$font-color: #fff;
$accent-color: #000000;
$background-main-text: #252629;
$background-main-text-accent: #55575e;
$color-name: #1E90FF;

// Fonts
$font-main: "Inter", sans-serif;